/* ============common style============ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    transition: 0.2s;
}

.container-header {
    max-width: 1270px;
    padding: 0px 15px;
    margin: 0 auto;
    transition: 0.2s;
}

:root {
    --color-blue-main : #034567;
    --color-blue-02 : #6C93A7;
    --color-blue-03 : #75ABC6;
    --color-blue-04 : #356CD6;
    --color-orange : #F5AC3D;
    --color-red-light: #EF8686;
    --text-color : #333333;
}

/* ====css header==== */
header {
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: #fff;
}

.header__inner  {
    padding: 15px 0px;
}

.header__logo {
    max-width: 108px;
    margin-right: 8.8%;
}

.header__content {
    flex: 1;
}

.header__search {
    position: relative;
    margin-right: 20px;
}

.header__search .form-control {
    width: 358px;
    padding: 6.5px 12px;
    border: 1px solid #26255147;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    transition: 0.2s;
}

.header__search .form-control::placeholder {
    color: #BCBCBC;
    font-size: 13px;
}

.header__search button {
    position: absolute;
    background-color: transparent;
    border: 0px;
    outline: none;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header__search button img {
    max-width: 24px;
}

.header__login {
    margin-left: 40px;
}

.main-menu li:not(:first-child) {
    margin-left: 40px;
}

.main-menu li a {
    color: var(--color-blue-main);
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0px;
    position: relative;
    white-space: nowrap;
}

.main-menu li a:hover::after {
    transform: scale(1);
}

.main-menu li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.1px;
    background-color: var(--color-blue-main);
    bottom: 0px;
    left: 0px;
    transition: 0.2s;
    transform: scale(0);
}

.hamburger-box,
.mobile-hambuger__close {
    display: none;
}
/* ====css header==== */

.btn-site {
    background-color: var(--color-blue-main);
    font-size: 16px;
    color: #fff;
    border-radius: 14px;
    font-weight: 600;
    padding: 12px;
    border: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.btn-site::before {
    position: absolute;
    content: "";
    width: 16%;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.403);
    box-shadow: 0px 0px 20px 0px rgb(255 255 255);
    left: -50%;
    top: 50%;
    transition: 0.5s;
    transform: translateY(-50%) rotate(15deg);
}

.btn-site:hover::before {
    left: 120%;
}

.btn-site:hover {
    opacity: 1;
    color: #fff;
}

.header__login .btn-site {
    font-weight: 700;
    border-radius: 40px;
    padding: 5px 24px;
}

.login-page__content {
    align-items: stretch;
    min-height: 840px;
}

.login-page__img {
    background-color: #E0F2FC;
    display: flex;
    align-items: flex-end;
    width: 56.4%;
}

.login-page__img img {
    width: 100%;
    max-height: 660px;
    object-fit: contain;
}

.wrap__login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
}

.login__box {
    width: 444px;
    border-radius: 30px;
    padding: 50px 70px;
    background-color: #fff;
    margin-bottom: 35px;
    box-shadow: 0px 4px 30px 0px #265E6445;
}

.wrap__login-form .register {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--color-blue-main);
}

.wrap__login-form .register a {
    font-weight: 700;
    text-decoration: underline;
}

.login__box h2 {
    color: var(--color-blue-main);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.login__box .form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 10px;
}

.login__box .form-group .form-control {
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    padding: 7px 40px 7px 10px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.login__box .form-group .form-control::placeholder {
    color: #A4A4A4;
    font-weight: 400;
}

.login__box .form-group {
    position: relative;
}

.login__box .form-group .handle-show-pass {
    background-color: transparent;
    border: 0px;
    outline: none;
    position: absolute;
    right: 10px;
    bottom: -3px;
    transform: translateY(-50%);
    max-width: 24px;

}

.login-other__text {
    font-size: 16px;
    font-weight: 400;
    color: #A4A4A4;
    text-align: center;
}

.forgot-pass {
    margin-top: 10px;
    text-align: right;
}

.forgot-pass a {
    color: var(--color-blue-main);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.login__form-submit {
    width: 100%;
    margin: 25px 0px;
    font-size: 16px;
    font-weight: 600;
}

.login-other {
    gap: 20px;
}

.login-other button {
    font-size: 16px;
    font-weight: 600;
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 12%);
    transition: 0.2s;
}

.login-other button:hover {
    box-shadow: 0px 2px 3px 3px rgb(0 0 0 / 12%);
}

.login-other button.login-fb {
    color: #1877F2;
}

.login-other button  img {
    max-width: 26px;
}

.image-login-success {
    max-width: 103px;
    margin: 0px auto 20px;
}

.login-success__text {
    font-size: 16px;
    color: #034567;
}

.login-success__text a {
    font-weight: 700;
}

.login__box.register__box {
    padding: 45px 58px;
    margin-bottom: 0px;
}

/* ======footer style====== */
footer {
    position: relative;
    padding: 45px 0px 70px;
    background-color: var(--color-blue-main);
    color: #fff;
}

.footer__logo a img {
    max-width: 98px;
    margin-bottom: 17px;
}

.footer__block-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.location__list li {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.footer__block {
    padding-top: 57px;
}

.footer__block:not(:first-child) {
    margin-left: 20px;
}

.footer__block.social {
    display: flex;
    align-items: center;
}

.footer__block ul.contact  li {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.footer__block ul.contact  li a:hover {
    color: var(--color-orange);
    opacity: 1;
}

.social__list {
    gap: 13px;
}

.social__list li a svg {
    max-width: 30px;
    transition: 0.2s;
}

.social__list li a:hover {
    opacity: 1;
}

.social__list li a:hover  svg path {
    fill: var(--color-orange);
}

.footer__right {
    justify-content: space-between;
    align-items: stretch;
    padding-left: 60px;
    flex-wrap: wrap;
    max-width: 700px;
}
/* ======footer style====== */