/* ============common style============ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    transition: .2s;
}

svg {
    transition: 0.2s;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;
}

label:focus,
button:focus {
    outline: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    transition: 0.2s;
}

.container-header {
    max-width: 1270px;
    padding: 0px 15px;
    margin: 0 auto;
    transition: 0.2s;
}

:root {
    --color-blue-main : #034567;
    --color-blue-02 : #6C93A7;
    --color-blue-03 : #75ABC6;
    --color-blue-04 : #356CD6;
    --color-orange : #F5AC3D;
    --color-red-light: #EF8686;
    --text-color : #333333;
}

/* ====css header==== */
header {
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: #fff;
}

.header__inner  {
    padding: 10px 0px;
}

.header__logo {
    margin-right: 2.8%;
    padding: 5px 0px;
}

.header__logo img {
    width: 114px;
    object-fit: cover;
}

.header__content {
    flex: 1;
}

.header__search {
    position: relative;
    margin-right: 20px;
}

.header__search .form-control {
    width: 358px;
    padding: 6.5px 12px;
    border: 1px solid #26255147;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    transition: 0.2s;
}

.header__search .form-control::placeholder {
    color: #BCBCBC;
    font-size: 13px;
}

.header__search button {
    position: absolute;
    background-color: transparent;
    border: 0px;
    outline: none;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header__search button img {
    max-width: 24px;
}

.header__login {
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__avatar {
    border: 2px solid var(--color-orange);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.header__avatar  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.avatar__icon {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid var(--color-orange);
    bottom: 0px; 
    right: 0px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar__icon img {
    width: 100%;
    height: auto;
}

.main-menu li:not(:first-child) {
    margin-left: 40px;
}

.main-menu li a {
    color: var(--color-blue-main);
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0px;
    position: relative;
    white-space: nowrap;
}

.main-menu li a:hover::after {
    transform: scale(1);
}

.main-menu li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2.1px;
    background-color: var(--color-blue-main);
    bottom: 0px;
    left: 0px;
    transition: 0.2s;
    transform: scale(0);
}

.hamburger-box,
.mobile-hambuger__close {
    display: none;
}
/* ====css header==== */

.btn-site {
    background-color: var(--color-blue-main);
    font-size: 16px;
    color: #fff;
    border-radius: 14px;
    font-weight: 600;
    padding: 12px;
    border: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.btn--orange {
    background-color: var(--color-orange);
    color: var(--color-blue-main);
}

.btn-site::before {
    position: absolute;
    content: "";
    width: 16%;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.403);
    box-shadow: 0px 0px 20px 0px rgb(255 255 255);
    left: -50%;
    top: 50%;
    transition: 0.5s;
    transform: translateY(-50%) rotate(15deg);
}

.btn-site:hover::before {
    left: 120%;
}

.btn-site:hover {
    opacity: 1;
    color: #fff;
}

.header__login .btn-site {
    font-weight: 700;
    border-radius: 40px;
    padding: 5px 24px;
}

.my__class-bt {
    border: 0;
}

.login-page__content {
    align-items: stretch;
    min-height: 840px;
}

.login-page__img {
    background-color: #E0F2FC;
    display: flex;
    align-items: flex-end;
    width: 56.4%;
}

.login-page__img img {
    width: 100%;
    max-height: 660px;
    object-fit: contain;
}

.wrap__login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
}

.login__box {
    width: 444px;
    border-radius: 30px;
    padding: 50px 70px;
    background-color: #fff;
    margin-bottom: 35px;
    box-shadow: 0px 4px 30px 0px #265E6445;
}

.wrap__login-form .register {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--color-blue-main);
}

.wrap__login-form .register a {
    font-weight: 700;
    text-decoration: underline;
}

.login__box h2 {
    color: var(--color-blue-main);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.login__box .form-group label {
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 10px;
}

.login__box .form-group .form-control {
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    padding: 7px 40px 7px 10px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.login__box .form-group .form-control::placeholder {
    color: #A4A4A4;
    font-weight: 400;
}

.login__box .form-group {
    position: relative;
}

.login__box .form-group .handle-show-pass {
    background-color: transparent;
    border: 0px;
    outline: none;
    position: absolute;
    right: 10px;
    bottom: -3px;
    transform: translateY(-50%);
    max-width: 24px;

}

.login-other__text {
    font-size: 16px;
    font-weight: 400;
    color: #A4A4A4;
    text-align: center;
}

.forgot-pass {
    margin-top: 10px;
    text-align: right;
}

.forgot-pass a {
    color: var(--color-blue-main);
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.login__form-submit {
    width: 100%;
    margin: 25px 0px;
    font-size: 16px;
    font-weight: 600;
}

.login-other {
    gap: 20px;
}

.login-other button {
    font-size: 16px;
    font-weight: 600;
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 16px;
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 12%);
    transition: 0.2s;
}

.login-other button:hover {
    box-shadow: 0px 2px 3px 3px rgb(0 0 0 / 12%);
}

.login-other button.login-fb {
    color: #1877F2;
}

.login-other button  img {
    max-width: 26px;
}

.image-login-success {
    max-width: 103px;
    margin: 0px auto 20px;
}

.login-success__text {
    font-size: 16px;
    color: #034567;
}

.login-success__text a {
    font-weight: 700;
}

.login__box.register__box {
    padding: 45px 58px;
    margin-bottom: 0px;
}

/* ======footer style====== */
footer {
    position: relative;
    padding: 45px 0px 70px;
    background-color: var(--color-blue-main);
    color: #fff;
}

.footer__logo a img {
    max-width: 98px;
    margin-bottom: 17px;
}

.footer__logo p {
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
}

.footer__block-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.location__list li {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.footer__block {
    padding-top: 57px;
}

.footer__block:not(:first-child) {
    margin-left: 20px;
}

.footer__block.social {
    display: flex;
    align-items: center;
}

.footer__block ul.contact  li {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.footer__block ul.contact  li a:hover {
    color: var(--color-orange);
    opacity: 1;
}

.social__list {
    gap: 13px;
    flex-direction: column;
}

.social__list li a svg {
    max-width: 30px;
    transition: 0.2s;
}

.social__list li a:hover {
    opacity: 1;
}

.social__list li a:hover  svg path {
    fill: var(--color-orange);
}

.footer__right {
    justify-content: space-between;
    align-items: stretch;
    padding-left: 30px;
    flex-wrap: wrap;
    gap: 10px;
}
/* ======footer style====== */

.hero-home {
    position: relative;
    background-color: #E1F3FC;
}

.hero-home::after {
    position: absolute;
    content: "";
    background-image: url(../image/icon-eyecatch-home-03.svg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
    top: 26px;
    bottom: 47px;
    width: 154px;
} 

.hero-home::before {
    position: absolute;
    content: "";
    background-image: url(../image/icon-eyecatch-home-04.svg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0px;
    top: 137px;
    bottom: 12px;
    width: 129px;
} 

.hero-home .img__ab {
    position: absolute;
    content: "";
    top: 0px;
    left: 60%;
    max-width: 430px;
}

.hero-home__content {
    padding: 36px 0px 48px;
    text-align: center;
}

.hero-home__content  h1 {
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-blue-main);
}

.hero-home__content p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0px 30px;
}

.hero__button .btn-site {
    border-radius: 58px;
    max-width: 380px;
    font-weight: 400;
    font-size: 24px;
    margin: 0 auto;
    padding: 13px 12px;
}

.hero__button .btn-site:first-child {
    margin-bottom: 25px;
}

.hero__button .btn--orange {
    color: #002132;
}

.hero-home__icon {
    padding: 24px 0px 22px;
}

.hero-home__icon img {
    max-width: 340px;
    margin: 0 auto;
}

.wrap-navigation  {
    margin: 20px 0px 30px;
}

.wrap-navigation ul.main-navigation {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1rem 0px;
    background-color: #fff;

    -webkit-box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 25%);
    box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.navigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem 2.4rem;
    position: relative;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-blue-main);
}

.navigation__link:hover svg path {
    fill: var(--color-orange);
}

.navigation__link:hover {
    color: var(--color-orange);
    opacity: 1;
}

.main-navigation li:not(:last-child) a::after {
    position: absolute;
    content: "";
    width: 1px; 
    height: 100%;
    background-color: rgb(206, 206, 206);
    max-height: 60px;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.navigation__link img {
    width: auto;
}

.wrap-navigation ul li {
    position: relative;
}

.sub-navigation {
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 7px;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 4px 12px;
    min-width: 205px;
    z-index: 10;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.main-navigation li:hover .sub-navigation  {
    opacity: 1;
    visibility: visible;
}

.sub-navigation  li a {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-blue-main);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10px;
    white-space: nowrap;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
}

.sub-navigation  li a img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sub-navigation  li a:hover img {
    transform: translate(3px, -50%);
}

.sub-navigation  li:last-child a {
    border-bottom: 0px;
}

.sub-navigation  li a::after {
    position: static !important;
}

.sub-navigation  li a img {
    max-width: 12px;
}

.title__section {
    margin-bottom: 36px;
    row-gap: 10px;
}

.title__section  h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-blue-main);
}

.title__section a {
    font-size: 16px;
    color: var(--color-blue-main);
    display: flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
}

.title__section a:hover img {
    transform: translateX(4px);
}

.title__section a img {
    max-width: 18px;
}

.english-test {
    padding: 24px 0px 20px;
}

.english-test.--bg-blue {
    background-color: #F3FBFF;
}

.english-test__item {
    position: relative;
    transition: 0.2s;
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.english-test__item .desc {
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    background-color: #fff;
    padding: 15px 25px 15px 25px;
    border-radius: 0px 0px 16px 16px;
    flex: 1;
}

.english-test__item:hover .desc {
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 30%);
}

.english-test__item .thumb {
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
}

.english-test__item .thumb img {
    height: 170px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
    transition: 0.4s;
}

.english-test__item .thumb a:hover {
    opacity: 1;
}

.english-test__item .thumb:hover img {
    transform: scale(1.1);
}

.english-test__item .desc h3 a {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    padding-bottom: 5px;
}

.english-test__item .desc h3 a:hover {
    color: var(--color-orange);
    opacity: 1;
}

.english-test__info {
    font-size: 14px;
    color: #848484;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 5px;
}

.english-test__info img {
    max-width: 15px;
}

.english-test__item .desc p {
    font-size: 14px;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    border-top: 1px solid #DEE6EA;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.english-test__item.new__item .desc p  {
    -webkit-line-clamp: 3;
}

.wrap__button-test {
    padding-bottom: 16px;
    row-gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap__button-test .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 7px;
    color: #7C7C7C;
    font-size: 16px;
}

.button-test {
    border: 0px;
    outline: none;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
}

.button-test:hover {
    background-color: transparent;
}

.button-test  svg {
    width: auto;
}

.button-test-bg-01 {
    background-color: #5A6883;
    border-color: #5A6883 !important;
}

.button-test-bg-01:hover svg path {
    fill: #5A6883;
}

.button-test-bg-02 {
    background-color: #98B8A3;
    border-color: #98B8A3 !important;
}

.button-test-bg-02:hover svg path {
    fill: #98B8A3;
}

.button-test-bg-03 {
    background-color: #E5C47F;
    border-color: #E5C47F !important;
}

.button-test-bg-03:hover svg path {
    fill: #E5C47F;
}

.button-test-bg-04 {
    background-color: #EF9994;
    border-color: #EF9994 !important;
}

.button-test-bg-04:hover svg path {
    fill: #EF9994;
}

.button-test-bg-05 {
    background-color: #8C6CA5;
    border-color: #8C6CA5 !important;
}

.button-test-bg-05:hover svg path {
    fill: #8C6CA5;
}

.english-test__buttom {
    padding-top: 10px;
    border-top: 1px solid#DEE6EA;
}

.english__flee-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-blue-main);
}

.english__flee-link button {
    background-color: transparent;
    border: 0;
    outline: none;
}

.english__flee-link img {
    max-width: 35px;
}

.english__status-buttom {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.status__the-test img {
    max-width: 21px;
}

.status__the-test-save {
    width: 25px;
    height: 25px;
    background-image: url(../image/css_sprites-heart.png);
    background-position: -10px -55px;
    background-repeat: no-repeat;
}

.status__the-test-save:hover {
    width: 25px; 
    height: 25px;
    background-image: url(../image/css_sprites-heart.png); 
    background-position: -10px -10px;
}

.status__the-test-save.active {
    width: 25px; 
    height: 25px;
    background-image: url(../image/css_sprites-heart.png); 
    background-position: -10px -10px;
}

.content__page {
    padding: 50px 0px 50px 0px;
}

.wrap__content-page {
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
}

.breadcrumb__site {
    padding-bottom: 20px;
}

.breadcrumb__site ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.breadcrumb__site li {
    font-size: 12px;
    font-weight: 400;
    color: #A3A3A3;
    position: relative;
}

.breadcrumb__site li:not(:last-child)::after {
    position: absolute;
    content: "";
    background-image: url(../image/CaretRight.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    right: -16px;
    top: 1px;
}

.breadcrumb__site li.current-page {
    color: var(--color-blue-main);
    font-weight: 500;
}

h1.title-page {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    padding-bottom: 6px;
}

h2.title-block {
    margin-top: 36px;
    font-size: 24px;
}

.wrap__content-page p {
    margin-top: 20px;
    font-size: 14px;
    color: #656565;
}

.table-site {
    margin-top: 30px;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
}

.table-site thead tr th {
    background-color: #D9D9D9;
    font-size: 14px;
    font-weight: 600;
    color: #161616;
}

.table thead th {
    border-bottom: 0px;
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-bordered td, .table-bordered th {
    border: 0.5px solid #BBBBBB;
}

.table-site tbody td button {
    margin: 0 auto;
}

.table-site tbody td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-site tbody tr td:first-child span {
    display: inline-block;
    padding-top: 6px;
}

.table-site tbody td  span.ct-color {
    color:#227DD0;
}

.table-bordered {
    border: 0px;
}

.button-status {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;

    padding: 7px 17px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: 0.2s;
}

.button-status img {
    width: auto;
}

.button-status:hover {
    opacity: 0.7;
}

.button-status.--bg-blue {
    background-color: #5A6883;
}

.button-status.--bg-blue-02 {
    background-color: #98B8A3;
}

.button-status.--bg-blue-03 {
    background-color: #E5C47F;
}

.button-status.--bg-blue-04 {
    background-color: #EF9994;
}

.button-reset {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;

    padding: 6px 12px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: #646464;
    transition: 0.2s;
    background-color: transparent;
    border: 1px solid #5A6883;
}

.button-reset:hover {
    background-color: #5A6883;
    color: #fff;
}

.button-reset:hover  svg  path {
    stroke: #fff;
}

.wrap__over-all {
    border-top: 1px solid #DEE6EA;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrap__over-all h3 {
    font-size: 24px;
    margin-bottom: 9px;
    text-align: center;
}

.over-all__box {
    margin: 0 auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #A5DFFD;

    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-catch__page {
    background-color: #F5FCE1;
    height: 360px;
}

.eye-catch__page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eye-catch__title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--color-blue-main);
}

.eye-catch__page p {
    font-size: 16px;
    font-weight: 500;
    color: #575757;
    max-width: 530px;
    margin: 30px auto 0px;
    text-align: center;
}

